# Node modules and logs
node_modules
**/node_modules
npm-debug.log

# Build artifacts
build
dist/**
app-mongo-data
app-mongo-data/

# Docker files
Dockerfile
Dockerfile*
.dockerignore

# Git and GitHub
.git
**/.git
.gitignore
.github

# IDE/editor files
.vscode
.DS_Store

# Documentation
README.md
/